
.header{
    display: flex;
   text-align: center;
   margin-bottom: 0px;
}
.heading  h1{
    font-size: 22px;
    font-weight: 600;
    word-spacing: 10px;
}
.heading p {
 font-weight: 600;
 font-size: 16px;
 text-align: center;
}
.logo img {
    width: 150px;
    height: 70px;
}

.seprator{
    height: 2px;
    background-color: black;
}

.form-container{
    margin:5px 20px;
   
}

.form-heading h3{
    text-align: center;
    text-decoration: underline;
}
.pre-test-info h5{
    margin:0;
}
.pre-test-info ol{
    margin:2px;
}