*{
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    text-align: center;
    margin-bottom: 0px;
  }
  .heading h1 {
    font-size: 22px;
    font-weight: 600;
    word-spacing: 10px;
  }
  .heading p {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }
  .logo img {
    width: 150px;
    height: 70px;
  }
  
  .seprator {
    height: 2px;
    background-color: black;
  }
  
  .form-container {
    margin: 0px 20px;
  }
  
  .form-heading h3 {
    text-align: center;
    text-decoration: underline;
    margin:0;
  }
  .line1 {
    display: flex;
  }
  
  .line1 > div {
    margin: 5px;
  }
  
  p {
    margin: 0; /* Remove default paragraph margin */
  }

  .sens {
    width: 100%; /* Take half of the screen width */
  }
  
 
 .mar{
    width: 100%;
 }

 .huge{
    width: 100%;

 }
 .chief{
    width: 100%; /* chief is divided into two equals part*/
 }
 .signature{
    width: 50%;
 }
 
 .parent_signature{
    width: 50%;
 }

.bowel{
    width: 30%;
    padding: 0px;
}

.other{
    width: 70%;
}

.week{
    width: 100%;
}

.defect{
    width: 100%;
}

.dets{
    width: 100%;
}
 