.form-container{
    margin:5px 20px;
   
}
.header{
    display: flex;
   text-align: center;
   margin-bottom: 0px;
}
.heading  h1{
    font-size: 22px;
    font-weight: 600;
    word-spacing: 10px;
}
.heading p {
 font-weight: 600;
 font-size: 16px;
 text-align: center;
}
.logo img {
    width: 150px;
    height: 70px;
}

.seprator{
    height: 2px;
    background-color: black;
}


.consent-heading{
    font-size: 16px;
    text-decoration:underline;
    text-align: center;
    padding-bottom: 5px;
}
.consent-main-para{
  
    justify-content: space-between;

}

.ptients-sign{
    margin-top: 50px;
}

.details-of-attendant ul{

    list-style: none;
    padding-inline-start: 0px;

}
.details-of-attendant ul li {
    margin-bottom:10px;
    padding-inline-start: 0px;
}
.sign{
    margin-top: 50px;
    margin-bottom: 50px;
}

.serach{ display: flex;}