*{
 

 }

 .form-container{
    
 }
 .header {
   display: flex;
   text-align: center;
   margin-bottom: 0px;
 }
 .heading h1 {
   font-size: 22px;
   font-weight: 600;
   word-spacing: 10px;
 }
 .heading p {
   font-weight: 600;
   font-size: 16px;
   text-align: center;
 }
 .logo img {
   width: 150px;
   height: 70px;
 }
 
 .seprator {
   height: 2px;
   background-color: black;
   margin: 0;
 }
 .form-heading h3{
  text-align: center;
  text-decoration: underline;
 }
 .name-sex,.marital,.specimen,.p-sign{
    display: flex;
 }
 .name{
    width:50%;
 }
.age, .sex{
    width: 25%;
}
.referred,.status{
    width: 50%;
}
.para>p{
    margin: 20px 0px;
    justify-content: space-between;
}
.clinical,.spe,.minor{
    width: 50%;
}
.sign{
    width: 49%;
}
.doc-sign{
    margin-top: 40px;
}